# See https://atom.io/docs/api/latest/MenuManager for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Robot Framework'
      'submenu': [
        { 'label': 'Show autocomplete status', 'command': 'Robot Framework:Show autocomplete status' }
        { 'label': 'Reload autocomplete data', 'command': 'Robot Framework:Reload autocomplete data' }
        { 'label': 'Print autocomplete debug info', 'command': 'Robot Framework:Print autocomplete debug info' }
      ]
    ]
  }
]
